<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="${request.contextPath}/static/easyui/themes/metro/easyui.css" type="text/css" rel="stylesheet"/>
    <link href="${request.contextPath}/static/easyui/themes/color.css" type="text/css" rel="stylesheet">
    <link href="${request.contextPath}/static/easyui/themes/icon.css" type="text/css" rel="stylesheet">
    <link href="${request.contextPath}/static/css/awesome.css" type="text/css" rel="stylesheet">
    <link href="${request.contextPath}/static/css/acker.easyui.extend.css" type="text/css" rel="stylesheet">
    <link href="${request.contextPath}/static/css/acker.base.css" type="text/css" rel="stylesheet">

    <script src="${request.contextPath}/static/basejs/jquery.min.js" type="text/javascript"></script>
    <script src="${request.contextPath}/static/easyui/jquery.easyui.min.js" type="text/javascript"></script>
    <script src="${request.contextPath}/static/easyui/locale/easyui-lang-zh_CN.js" type="text/javascript"></script>
    <script src="${request.contextPath}/static/basejs/jquery.blockUI.js" type="text/javascript"></script>
    <script src="${request.contextPath}/static/basejs/acker.easyui.extend.js" type="text/javascript"></script>
    <script src="${request.contextPath}/static/basejs/acker.utils.js" type="text/javascript"></script>
    <script type="text/javascript">
        $.fView.contextPath = "${request.contextPath}";
        $.fView.currentState = "${viewState}";
    </script>
<@block name="head">
</@block>
</head>
<@block name="body">
</@block>

</html>