<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ackerframework.admin.center.base.dao.BaseDataDao">

    <!--通过ClassName获取初始化下拉框数据-->
    <select id="initCombo" resultType="com.ackerframework.admin.center.base.entity.Combo">
        SELECT sys_basedata.value_field,sys_basedata.text_field
          FROM sys_basedata
          JOIN sys_basedata_class ON sys_basedata.class_id = sys_basedata_class.id
         WHERE sys_basedata_class.coded = #{coded}
                AND sys_basedata.can_use = TRUE AND sys_basedata.destroyed=FALSE
                AND sys_basedata_class.can_use = TRUE AND sys_basedata_class.destroyed = FALSE
    </select>
</mapper>