<@override name="center">
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',split:false" style="height:60px;padding: 3px">
        <input type="hidden" id="roleid" value="${role.id}">
        <div class="topmenu-toolbar">
            <a href="#" class="easyui-linkbutton" data-options="plain:true"
               onclick="backList();return false;"><i class='fa fa-reply fa-fw'></i>返回列表</a>
            <span>正在为 ${role.text}(${role.coded}) 授权:</span>
        </div>

    </div>
    <div data-options="region:'west',split:false,title:'界面授权',collapsible:false" style="width:250px;padding: 6px">
        <ul class="easyui-tree" data-options="checkbox:true,lines:true,cascadeCheck:false,
          url:'${request.contextPath}/admin/center/rights/menu/authingnav?roleId=#{role.id}',
          onClick:onClickTree,onCheck:onCheckNode">
        </ul>
    </div>
    <div data-options="region:'center',title:'按钮授权'" style="padding:5px;">
        <table class="easyui-treegrid" data-options="checkbox:true,onCheckNode:onCheckNode,
               url:'${request.contextPath}/admin/center/rights/menu/authingbutton?roleId=#{role.id}'">
            <thead>
            <tr>
                <th data-options="field:'text',width:200">按钮名称</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<script type="text/javascript" src="${request.contextPath}/static/viewjs/rights/authrole.js"></script>
</@override>
<@extends name="common/baseitem.html"/>