<@override name="center">
<div class="topmenu-toolbar">
    <a href="#" class="easyui-linkbutton" data-options="plain:true"
       onclick="backList();return false;"><i class='fa fa-reply fa-fw'></i>返回列表</a>
    <#if look>
        <a href="#" class="easyui-linkbutton" data-options="plain:true"
           onclick="insertItem();return false;"><i class="fa fa-plus fa-fw size14"></i>新增</a>
        <#if detail.userName != "storm">
            <a href="#" class="easyui-linkbutton" data-options="plain:true"
               onclick="updateItem();return false;"><i class="fa fa-pencil-square-o fa-fw size14"></i>修改</a>
        </#if>
    </#if>
    <#if insert|| update>
        <a href="#" class="easyui-linkbutton" data-options="plain:true"
           onclick="saveItem();return false;"><i class='fa fa-floppy-o fa-fw'></i>保存</a>
    </#if>
</div>

<div class="krow-1-4">
    <div class="kcol-3">
        <input class="easyui-textbox" name="roleName" form-group="detail"
               data-options="label:'角色名称',required:true,validType:{length:[0,30]},value:'${detail.roleName}'
                  <#if look>,disabled:true</#if>">
    </div>
</div>
<div class="krow-1-4">
    <div class="kcol-3">
        <input id="pwd" class="easyui-textbox" name="roleCode" form-group="detail"
               data-options="label:'角色代码',value:'${detail.roleCode}'<#if look>,disabled:true</#if>">
    </div>
</div>
<div class="krow-1-4">
    <div class="kcol-3">
        <input class="easyui-combobox" name="orgId" data-options="label:'所属组织',valueField:'orgId',
            textField:'orgName',url:'',value:'${detail.orgId}'
            <#if look>,disabled:true</#if>"/>
    </div>
</div>

<div class="krow-1-4">
    <div class="kcol-3">
        <input class="easyui-combobox" name="roleState"
               data-options="label:'角色状态',valueField:'roleState',textField:'roleStateCn',url:'',data:[{roleState:1,roleStateCn:'启用'},{roleState:0,roleStateCn:'停用'}],
               editable:false,value:'${detail.roleState}'<#if look>,disabled:true</#if>"/>
    </div>
</div>
<div class="krow-1-4">
    <div class="kcol-3">
        <input class="easyui-textbox" name="remark" form-group="detail"
               data-options="label:'备 注',value:'${detail.remark}',multiline:true,height:80
               <#if look>,disabled:true</#if>">
    </div>
</div>
<script type="text/javascript" src="${request.contextPath}/static/viewjs/rights/role.js"></script>
</@override>
<@extends name="common/baseitem.html"/>