<@override name="center">
<div class="topmenu-toolbar">
    <a href="#" class="easyui-linkbutton" data-options="plain:true"
       onclick="backList();return false;"><i class='fa fa-reply fa-fw'></i>返回列表</a>
    <#if look>
        <a href="#" class="easyui-linkbutton" data-options="plain:true"
           onclick="insertItem();return false;"><i class="fa fa-plus fa-fw size14"></i>新增</a>
        <#if detail.userName != "storm">
            <a href="#" class="easyui-linkbutton" data-options="plain:true"
               onclick="updateItem();return false;"><i class="fa fa-pencil-square-o fa-fw size14"></i>修改</a>
        </#if>
    </#if>
    <#if insert|| update>
        <a href="#" class="easyui-linkbutton" data-options="plain:true"
           onclick="saveItem();return false;"><i class='fa fa-floppy-o fa-fw'></i>保存</a>
    </#if>
</div>

<div class="krow-1-4">
    <div class="kcol-3">
        <input class="easyui-textbox" name="userName" form-group="detail"
               data-options="label:'用户账号',required:true,validType:{length:[0,30]},value:'${detail.userName}'
                  <#if look>,disabled:true</#if>">
    </div>
</div>
    <#if !look>
    <div class="krow-1-4">
        <div class="kcol-3">
            <input id="pwd" class="easyui-passwordbox" name="passWord" form-group="detail"
                   data-options="label:'密 码'<#if look>,disabled:true</#if>">
        </div>
        <div class="kcol-3" style="text-align: left;"><span>*未填，默认 123456</span></div>
    </div>
    <div class="krow-1-4">
        <div class="kcol-3">
            <input class="easyui-passwordbox" data-options="label:'确认密码',validType:{samepw:['#pwd']}
               <#if look>,disabled:true</#if>">
        </div>
    </div>
    </#if>

<div class="krow-1-4">
    <div class="kcol-3">
        <input class="easyui-textbox" name="nickName" form-group="detail"
               data-options="label:'用户昵称',value:'${detail.nickName}',validType:{length:[0,30]}
               <#if look>,disabled:true</#if>">
    </div>
</div>
<div class="krow-1-4">
    <div class="kcol-3">
        <input class="easyui-textbox" name="email" form-group="detail"
               data-options="label:'邮 箱',value:'${detail.email}',validType:'email'
               <#if look>,disabled:true</#if>">
    </div>
</div>
<div class="krow-1-4">
    <div class="kcol-3">
        <input class="easyui-numberbox" name="mobile" form-group="detail"
               data-options="label:'手机号',value:'${detail.mobile}',validType:'mobile'
               <#if look>,disabled:true</#if>">
    </div>
</div>
<script type="text/javascript" src="${request.contextPath}/static/viewjs/rights/user.js"></script>
</@override>
<@extends name="common/baseitem.html"/>