<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ackerframework.admin.center.rights.dao.MenuDao">

    <select id="getGridList" resultType="com.ackerframework.admin.center.rights.entity.MenuTreeGrid">
        SELECT id,pid,sno,text,coded,permission,types,attributes,url,icon_cls,can_use,state,
        create_name,create_time,modify_name,modify_time
        <include refid="grid_list_where"></include>
    </select>
    <select id="listCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
        <include refid="grid_list_where"></include>
    </select>
    <sql id="grid_list_where">
        FROM sys_menu
       WHERE 1=1 AND destroyed = FALSE order by sno
    </sql>

    <select id="get" resultType="com.ackerframework.admin.center.rights.entity.Menu">
        SELECT id,pid,sno,text,coded,permission,types,attributes,url,icon_cls,can_use,state,
                create_name,create_time,modify_name,modify_time
          FROM sys_menu
         WHERE 1=1 AND id = #{id} AND destroyed = FALSE
    </select>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO sys_menu
                     (pid,sno,text,coded,permission,types,attributes,url,icon_cls,can_use,
                     create_name,create_time,destroyed)
              VALUES(#{pid},#{sno},#{text},#{coded},#{permission},#{types},#{attributes},#{url},#{iconCls},#{canUse},
                     #{createName},#{createTime},FALSE )
    </insert>

    <update id="update" parameterType="com.ackerframework.admin.center.rights.entity.Menu">
        UPDATE sys_menu SET
        pid=#{pid},sno=#{sno},text=#{text},coded=#{coded},permission=#{permission},types=#{types},attributes=#{attributes},
        url=#{url},icon_cls=#{iconCls},can_use=#{canUse},modify_name=#{modifyName},modify_time=#{modifyTime}
        WHERE id = #{id}
    </update>

    <select id="authingNav" resultType="com.ackerframework.admin.center.rights.entity.MenuTree">
       SELECT sys_menu.id,sys_menu.pid,sys_menu.text,
               IFNULL(sys_permissions.role_id,#{roleId}) as role_id,sys_menu.types,
               sys_menu.icon_cls,IF (ISNULL(sys_permissions.menu_id),0,1) AS checked
         FROM sys_menu
               LEFT JOIN sys_permissions
               ON (sys_menu.id = sys_permissions.menu_id AND sys_permissions.role_id =  #{roleId})
        WHERE sys_menu.pid = #{pid} AND sys_menu.destroyed = FALSE
    </select>

    <select id="getNodesByPid" resultType="com.ackerframework.admin.center.rights.entity.Menu">
         SELECT id,pid,sno,text,coded,permission,types,attributes,url,icon_cls,can_use,
                create_name,create_time,modify_name,modify_time
          FROM sys_menu
         WHERE 1=1 AND pid = #{pid} AND destroyed = FALSE
    </select>

    <select id="getRightsTreeNode" resultType="com.ackerframework.admin.center.rights.entity.MenuTree">
        SELECT  sys_menu.id,sys_menu.pid,sys_menu.text,sys_menu.url,sys_menu.icon_cls,
                 sys_menu.attributes,sys_menu.types,sys_menu.state
        FROM  sys_permissions
        JOIN  sys_menu ON (sys_permissions.menu_id = sys_menu.id AND sys_menu.destroyed = FALSE)
        WHERE  sys_permissions.user_id = #{userId}
        AND sys_permissions.role_id=#{roleId}
        AND sys_menu.pid = #{pid}
        AND sys_menu.types = 1
    </select>
</mapper>