<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ackerframework.admin.center.rights.dao.RoleDao">

    <select id="getGridList" resultType="com.ackerframework.admin.center.rights.entity.RoleGrid">
        SELECT id,text,coded,org_id,can_use,sys_mark,remark,create_name,create_time,modify_name,modify_time
        <include refid="grid_list_where"></include>
    </select>
    <select id="listCount" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM sys_role WHERE 1=1
    </select>
    <sql id="grid_list_where">
        FROM sys_role WHERE 1=1 AND destroyed = FALSE LIMIT #{startIndex},#{pageSize}
    </sql>

    <select id="get" resultType="com.ackerframework.admin.center.rights.entity.Role">
        SELECT id,text,coded,org_id,can_use,sys_mark,remark,create_name,create_time,modify_name,modify_time
        FROM sys_role WHERE 1=1 AND id = #{id} AND destroyed = FALSE
    </select>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO sys_role (text,coded,org_id,can_use,sys_mark,remark,create_name,create_time,destroyed)
        VALUES(#{text},#{coded},#{orgId},#{can_use},#{sysMark},#{remark},#{createName},#{createTime},FALSE)
    </insert>

    <update id="update" parameterType="com.ackerframework.admin.center.rights.entity.Role">
        UPDATE sys_role
           SET text=#{text},coded=#{coded},org_id=#{orgId},can_use=#{canUse},sys_mark=#{sysMark},
                modify_name=#{modifyName},modify_time=#{modifyTime}
        WHERE id = #{id}
    </update>

</mapper>