<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ackerframework.admin.center.rights.dao.UserDao">

    <select id="getGridList" resultType="com.ackerframework.admin.center.rights.entity.UserGrid">
        SELECT id,account,password,nickname,email,mobile,can_use,create_name,create_time,modify_name,modify_time
        <include refid="grid_list_where"></include>
    </select>
    <select id="listCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
        <include refid="grid_list_where"></include>
    </select>
    <sql id="grid_list_where">
        FROM sys_user WHERE 1=1 AND destroyed = FALSE LIMIT #{startIndex},#{pageSize}
    </sql>

    <select id="get" resultType="com.ackerframework.admin.center.rights.entity.User">
        SELECT id,account,password,nickname,email,mobile,can_use,create_name,create_time,modify_name,modify_time
        FROM sys_user WHERE 1=1 AND id = #{id} AND destroyed = FALSE
    </select>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO sys_user (account,password,nickname,email,mobile,can_use,create_name,create_time,destroyed)
        VALUES(#{account},#{password},#{nickname},#{email},#{mobile},#{canUse},#{createName},#{createTime},FALSE)
    </insert>

    <update id="update" parameterType="com.ackerframework.admin.center.rights.entity.User">
        UPDATE sys_user SET
        <if test="password!=null">password=#{password},</if>
        nickname=#{nickname},email=#{email},mobile=#{mobile},can_use=#{canUse},
        modify_name=#{modifyName},modify_time=#{modifyTime}
        WHERE id = #{id}
    </update>

    <select id="getByAccount" resultType="com.ackerframework.admin.center.rights.entity.User">
        SELECT id,account,password,nickname,email,mobile,can_use,create_name,create_time,modify_name,modify_time
        FROM sys_user WHERE 1=1 AND account = #{account} AND destroyed = FALSE
    </select>

    <select id="initUserCombo" resultType="com.ackerframework.admin.center.rights.entity.UserCombo">
        SELECT id,account,nickname,email,mobile FROM sys_user WHERE 1=1 AND destroyed = FALSE AND can_use = TRUE
        <if test="q!=null">
            AND (account LIKE CONCAT('%',#{q},'%') OR nickname LIKE CONCAT('%',#{q},'%'))
        </if>
        LIMIT #{startIndex},#{pageSize}
    </select>

</mapper>